%% -*- erlang -*-
%% Config file for can-application
{deps_dir, ["deps"]}.
{deps, 
 [
  {dthread, ".*", {git, "git@github.com:tolbrino/dthread.git", {branch, "integr"}}},
  {uart, ".*", {git, "git@github.com:tolbrino/uart.git", {branch, "integr"}}},
  {lager, ".*", {git, "git://github.com/Feuerlabs/lager.git", {tag, "1.0.0.fl.4"}}}
 ]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.
{port_env, [
            {"CFLAGS", "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_NONE -D_THREAD_SAFE -I deps/dthread/include"},
            {"(linux)", "LDFLAGS", "$LDFLAGS deps/dthread/c_src/dlib.o deps/dthread/c_src/dterm.o deps/dthread/c_src/dthread.o"}
           ]}.
{port_specs, [
              {"linux","priv/can_sock_drv.so",["c_src/can_sock_drv.c"]},
              {"linux","priv/can_mcp2515_drv.so",["c_src/can_mcp2515_drv.c"]}
             ]}.
